.dialog{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    border-right: 2px solid black;
    padding-right: 70px;
}
.dialog:first-child{
    padding-top:0;
}
.avatar{
    width: 70px;
    border-radius: 50%;
}
.link{
    color: #299898;
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    opacity: 0.6;
}
.link:active{
    opacity: 0.4;
}
.active{
    color: #575757;;
    text-decoration: none;
}
