.wrapper_nav{
    background: #299898;
    height: 800px;
}
.nav{
    list-style-type: none;
}
.link{
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    opacity: 0.6;
}
.link:active{
    opacity: 0.4;
}
.active{
    font-size: 24px;
    text-decoration: none;
    color: #575757;
}
.nav_item{
    padding-top: 12px;
}
.nav_item:last-child{
    padding-top: 80px;
}