.app-wrapper{
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #ffffff;
    gap: 35px;
}
.header{
    background: #299898;
    height: 80px;
    grid-column: 1/-1;
}
.img-header{
    padding: 15px 0 0 40px;
    width: 80px;
}


.wrapper-nav{
    background: #299898;
    height: 800px;
}
.nav{
    list-style-type: none;
}
.nav-link{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.nav-item{
    padding-top: 12px;
}
.nav-item:last-child{
    padding-top: 80px;
}


.img-main{
    width: 100%;
    max-height: 200px;
}
.main-profile{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 0.3fr 1fr;
}
.main-profile-item{

    margin-top: 20px;
}
.profile-img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
}
.main-text-header{
    margin: 0 0 20px 0;
    font-size: 32px;
    font-weight: bold;
}
.main-text{
    margin: 0;
    font-size: 26px;
}
.main-posts{
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
}
.main-post-header{
    font-size: 32px;
}
.main-text-input{
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 18px;
    background: #e7e7e7;
    border: none;
    width: 80%;
    height: 60px;
}
.main-send-button{
    margin-top: 30px;
    margin-left: 70%;
    border: none;
    background: #299898;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 130px;
    border-radius: 20px;
}
.main-send-button:hover{
    opacity: 0.8;
}
.main-send-button:active{
    opacity: 0.6;
}
.main-older-post{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    align-items: center;
}
.main-older-post-marker{
    background: #299898;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-older-post-text{
    font-size: 24px;
}